#########################
# IDEs
#########################
.idea/
.vscode/

#########################
# Python
#########################
__pycache__/
*.py[cod]
*.pyo
*.pyd

#########################
# Virtual Environment
#########################
.venv/
venv/
.venv1/
env/

#########################
# Build
#########################
build/
dist/

#########################
# PyInstaller
#########################
*.spec

#########################
# Executáveis
#########################
*.exe
*.dll
*.pkg

#########################
# Compactados
#########################
*.zip
*.rar
*.7z

#########################
# Wheels
#########################
*.whl

#########################
# Logs
#########################
*.log

#########################
# Sistema Operacional
#########################
Thumbs.db
.DS_Store
# Arquivos de configuração
config.env
.env
*.env